<div align="center">
    <form (ngSubmit) = "addTrainer()">
        <mat-card>
            <mat-card-title>
                <span>Register Trainer</span>
            </mat-card-title>
            <mat-card-content>
                <app-person-form #personForm></app-person-form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button type="button" color="warn" (click)="cancel()">Cancel</button>
                <button mat-button type="button" color="secondary" (click)="reset()">Reset</button>
                <button mat-button type="submit" color="primary" [disabled]="invalid">Register</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
