<header class="mat-header">
    <div class="row">
        <span>News</span>
        <mat-select>
            <option>Hello</option>
        </mat-select>
        <mat-select>
            <option>Hello</option>
        </mat-select>
        <mat-select>
            <option>Hello</option>
        </mat-select>
    </div>
</header>
<div class="x">
    
    <div class="content">
        <div class="row">
            <app-news-card></app-news-card>
            <app-news-card></app-news-card>
            <app-news-card></app-news-card>
        </div>
    </div>
</div>
