
<div class="container" align="center">
    <header>
        <mat-toolbar>
            <span>Pet Training</span>
            <div class="spacer">
                <mat-form-field>
                    <input matInput placeholder="/search">
                </mat-form-field>
            </div>
            <a mat-button target="_blank">
                Add Pet
            </a>
            <a mat-button target="_blank">
                Add Trainee
            </a>
        </mat-toolbar>
        
    </header>
    <mat-grid-list cols="3" rowHeight="250px">
        <mat-grid-tile rowspan="2">
            <app-pet-card ></app-pet-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <app-pet-card ></app-pet-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <app-pet-card ></app-pet-card>
        </mat-grid-tile>
        
        <mat-grid-tile rowspan="2">
            <app-pet-card ></app-pet-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <app-pet-card ></app-pet-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <app-pet-card ></app-pet-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <app-pet-card ></app-pet-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <app-pet-card ></app-pet-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <app-pet-card ></app-pet-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <app-pet-card ></app-pet-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <app-pet-card ></app-pet-card>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <app-pet-card ></app-pet-card>
        </mat-grid-tile>
    </mat-grid-list>    
</div>