<header class="header header-2">
    <div class="branding">
        <span class="title">QuickPoll</span>
    </div>
    <div class="header-actions" style="display:flex; align-items:center;">
        <a class="nav-link" (click)="openQuestion()" href="">
            <span><clr-icon shape="plus"></clr-icon></span>
        </a>
        <a class="nav-link" routerLink="/">
            <span>Reload</span>
        </a>
        <span>{{userService.loggedUser}}</span>
        <a class="nav-link" (click)="logout()" *ngIf="userService.isLogin" style="cursor: pointer;">
            <span>Logout</span>
        </a>
    </div>
    <div class="search">

    </div>
</header>
<app-question-form ></app-question-form>