<div class="header">
    <mat-toolbar class="toolbar">
        <span class="logo" [routerLink]="['']" routerLinkActive="router-link-active" >
            <mat-icon>local_dining</mat-icon>
            <h1>Yadlings</h1>
        </span>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="spacer"></div>
        <nav class="navigations">
            <a class="nav-buttons" mat-icon-button (click)="hideBasketShow()" matBadge="4" matBadgeSize="small" [matBadgeHidden]="isBasketShown"><mat-icon>local_mall</mat-icon></a>
            <a class="nav-buttons" mat-link-button router-link="/orders">Orders</a>
            <a class="nav-buttons" mat-link-button router-link="/">Login</a>
            <a class="nav-buttons" mat-link-button>Register</a>
        </nav>
    </mat-toolbar>
</div>
<div fxLayout="row" class="content">
    <div fxFlex="73">
        <router-outlet></router-outlet>
    </div>
    <div  fxFlex="25" *ngIf="isBasketShown">
        <basket ></basket>
    </div>
    
</div>