
<div>
    <form [formGroup]="personForm">
        <mat-form-field>
            <input matInput formControlName="username" placeholder="username">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="email" placeholder="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="phoneNumber" placeholder="phone">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="address" placeholder="address">
        </mat-form-field>
    </form>
</div>

