<!-- <mat-stepper  #stepper>
    <mat-step disableRipple="flase" editable="false" label="Accept">
    </mat-step>
    <mat-step disableRipple="true" editable="false" label="Ready">
    </mat-step>
    <mat-step editable="false" label="Served">
    </mat-step>
</mat-stepper> -->
<div class="status-control">
    <a mat-icon-button>
        <mat-icon color="warn">fiber_manual_record</mat-icon>
        Record
    </a>
    <button mat-icon-button>
        <mat-icon color="primary">fiber_manual_record</mat-icon>
        Record
    </button>
    <button mat-icon-button>
        <mat-icon color="warn">fiber_manual_record</mat-icon>
        Record
    </button>
    <button mat-icon-button>
        <mat-icon color="primary">fiber_manual_record</mat-icon>
        Record
    </button>
</div>
