.basket{
    margin: 2%;
    height: 100%;
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
}.total{
    height: 20%;
    margin:2%
}
.scroll-pane{
    height: 100%;
    width: 100%;
}