<div fxLayout="column" class="basket">
    <cdk-virtual-scroll-viewport 
    *ngIf="items.length > 0"
    fxFLex="90" 
    class="scroll-pane"
    appendOnly 
    itemSize="1" 
    >
        <div  *cdkVirtualFor="let item of items" class="it">
            <basket-item [item] = item></basket-item>
        </div>
    </cdk-virtual-scroll-viewport>
    <div fxFLex="10" fxLayout="column" fxLayoutAlign="center center" class="total">
        <h2>TOTAL: {{total}} ZLOTY</h2>
        <button mat-flat-button color="primary">ORDER</button>
    </div>
</div>

