<header>
  <mat-toolbar >
    <span>News</span>
    <div class="spacer"></div>
    <mat-form-field >
        <mat-select>
        <mat-option value="1">Helloo</mat-option>
        <mat-option>Hello1</mat-option>
        <mat-option>Hello2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select>
        <mat-option>Helloo</mat-option>
        <mat-option>Hello1</mat-option>
        <mat-option>Hello2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select>
        <mat-option>Helloo</mat-option>
        <mat-option>Hello1</mat-option>
        <mat-option>Hello2</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
</header>
<div class="container" align="center">  
  <mat-grid-list class="card-grid" cols="3">
    <mat-grid-tile *ngFor="let i of [1,1,2,3,4,5,6,7,7,8,8]" [rowspan]="2">
      <app-news-card></app-news-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
