<mat-card>
    <mat-card-title>
        <span>{{pet.name}}</span>
    </mat-card-title>
    <img mat-card-image [src]="pet.image" height="170">
    <mat-card-content>
        <p>Owned by {{pet.owner.username}}</p>
        <p>Trained by {{trainee.details.username}}</p>
        <mat-progress-bar mode="determinate" value="{{process}}"></mat-progress-bar>
        <p></p>
        <p>Training {{process}}</p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button color="primary">
            Details
        </a>
    </mat-card-actions>
    <!-- <mat-card-footer>
        Sarted Training {{pet.started|date:'medium'}}
    </mat-card-footer> -->
</mat-card>
