<mat-card>
    <mat-card-title>
        <span>{{pet.name}}</span>
    </mat-card-title>
    <img mat-card-image src="{{pet.image}}">
    <mat-card-content>
        <p>Owned by {{pet.owner.fullName}}</p>
        <p>Trained by {{trainee.details.fullName}}</p>
        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
        <p></p>
        <p>Training 65%</p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button color="primary" target="_blank">
            Details
        </a>
    </mat-card-actions>
</mat-card>
