<div align="center">
    <form>
        <mat-card >
            <mat-card-title>
                <span>New Pet</span>
            </mat-card-title>
            <mat-card-content align="start">
                <mat-list>
                    <mat-list-item>
                        <img mat-card-lg-image [src]="image" *ngIf="false">
                    </mat-list-item>
                    <mat-list-item>
                        <input type="file" #imagePicker accept="image/png,image/jpeg" (change)="fileChanged($event)" color="primary" style="display:none;">
                        <button mat-button (click)= "imagePicker.click()" color="primary">Choose Pet Image</button>
                    </mat-list-item>
                    
                    <mat-list-item>
                        <mat-form-field>                            
                            <input matInput placeholder="Pet Name">
                        </mat-form-field>
                    </mat-list-item>  
                    <p></p>                  
                    <mat-list-item>
                        <mat-form-field>
                            <input matInput placeholder="breed">
                        </mat-form-field>
                    </mat-list-item>
                    <p></p>
                    <mat-list-item>
                        <mat-form-field>
                            <input matInput placeholder="Pet Age" type="date">
                        </mat-form-field>
                    </mat-list-item>
                    <p></p>
                    <mat-list-item>
                        <mat-form-field>
                            <input matInput placeholder="search owner by full name">
                        </mat-form-field>
                        <button mat-button color="primary">New Owner</button>

                    </mat-list-item>
                    <p></p>
                    <mat-list-item>
                        <mat-form-field>
                            <input matInput placeholder="search Trainee by full name">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item>
                        hello
                    </mat-list-item>
                    <p></p>
                    <mat-list-item>
                        <mat-form-field>
                            <input matInput placeholder="Subject">
                        </mat-form-field>
                    </mat-list-item>
                    <p></p>
                    <mat-list-item>
                        <mat-chip-list>
                            <mat-chip>Hello</mat-chip>
                            <mat-chip>Hello</mat-chip>
                            <mat-chip>Hello X</mat-chip>
                        </mat-chip-list>
                    </mat-list-item>                    
                </mat-list>
            </mat-card-content>
            <mat-card-actions align="end">
                <a mat-button color="warn"routerLink="/">
                    Cancel
                </a>
                <a mat-button color="primary">
                    Add
                </a>
            </mat-card-actions>
        </mat-card>
    </form>
        
</div>